<main>
  <h1>Angular CDK Portal Demo</h1>
  <div class="outlet">
    <div class="a">
      PortalOutletA
      <ng-template [cdkPortalOutlet]="selectedPortalA"></ng-template>
    </div>
    <hr />
    <div class="b">
      PortalOutletB
      <ng-template [cdkPortalOutlet]="selectedPortalB"></ng-template>
    </div>
  </div>

  <div class="buttons">
    <button (click)="handleAClick()">
      Render to PortalOutletA
    </button>
    <button (click)="handleBClick()">
      Render to PortalOutletB
    </button>
  </div>
</main>
